@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import './tokens/colors.tokens.css';
@import './tokens/typography.tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
    font-family: var(--ds-font-family-base);
    color: var(--ds-color-ink);
    background-color: var(--ds-color-surface);
  }
}
